/* 팀 헤더 영역 */
.teamHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.teamHeader button {
  background-color: var(--color-white);
  color: var(--color-dark-green);
  font-size: 20px;
  border: 3px solid var(--color-dark-green);
  padding: 10px 20px;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.teamHeader button:hover {
  background-color: var(--color-dark-green);
  color: var(--color-white);
}

/* 테이블 스타일 */
.tableContainer {
  flex: 1;
  overflow-y: auto;
  background-color: var(--color-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

/* 테이블 헤더 영역 */
.tableHeader {
  width: calc(100% - 8px); /* 스크롤바 너비만큼 빼기 */
  background-color: var(--color-white);
}

/* 스크롤 영역 */
.scrollArea {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  max-height: calc(100vh - 400px); /* 적절한 높이 설정 */
}

.teamTable {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
}
.scrollArea::-webkit-scrollbar {
  width: 8px;
}

.scrollArea::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 10px;
}

.scrollAreae::-webkit-scrollbar-track {
  background-color: #ffffff;
}
.teamTable th {
  position: sticky;
  top: 0;
  background-color: rgb(255, 255, 250);
  padding: 1rem;
  text-align: center;
  font-weight: 600;
  border-bottom: 5px solid var(--color-dark-green);
}

.teamTable td {
  padding: 1rem;
  border-bottom: 1px solid var(--color-gray);
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  font-size: 1vw;
}

.teamTable tr:hover {
  background-color: #f8f9fa;
}

.teamTable th:nth-child(1),
.teamTable td:nth-child(1) {
  width: 10%; /* 프로필 이미지 열 */
}

.teamTable th:nth-child(2),
.teamTable td:nth-child(2) {
  width: 10%; /* 이름 열 */
}

.teamTable th:nth-child(3),
.teamTable td:nth-child(3) {
  width: 18%; /* 전화번호 열 */
}

.teamTable th:nth-child(4),
.teamTable td:nth-child(4) {
  width: 18%; /* 이메일 열 */
}

.teamTable th:nth-child(5),
.teamTable td:nth-child(5) {
  width: 10%; /* 브랜치 열 */
}

.teamTable th:nth-child(6),
.teamTable td:nth-child(6) {
  width: 10%; /* 직급 열 */
}

.teamTable th:nth-child(7),
.teamTable td:nth-child(7) {
  width: 10%; /* 액션 버튼 열 */
}

/* 프로필 이미지 */
.profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* 액션 버튼 */
.actions button {
  background-color: var(--color-white);
  border: 3px solid red;
  color: red;
  padding: 6px 12px;
  border-radius: 1rem;
  cursor: pointer;
}

.actions button:hover {
  background-color: red;
  color: var(--color-white);
}
