@font-face {
  font-family: 'BMDOHYEON';
  src: url('../assets/fonts/BMDOHYEON_ttf.ttf') format('truetype');
}

body {
  font-family: "BMDOHYEON", Arial, sans-serif;
  background-color: #ffffff;
  height: 100vh;
  overflow: hidden;
}


/* Header 스타일 */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

h1 {
  font-size: 30px;
  font-weight: 500;
  color: var(--color-black);
}


.main-content {
  flex: 1;
  margin-left: 280px;
  padding: 2rem;
}

.green-border {
  border: 5px solid var(--color-dark-green);
  border-radius: 2rem;
  box-sizing: border-box;
}

.my-content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 220px);
  background-color: var(--color-white);
  padding: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}




