:root {
  --color-dark-green: #055D20;
  --color-light-green: #49c064;
  --color-yellow: #ffce32;
  --color-orange: #ff9900;
  --color-beige: #fefbf0;
  --color-white: #ffffff;
  --color-gray: #e0e0e0;
  --color-dark-gray: #333333;
}