:root {
  --color-dark-green: #055d20;
  --color-light-green: #49c064;
  --color-beige: #fffef6;
  --color-beige-border: rgb(242, 234, 220);
  --color-light-orange: #f8bd64;
  --color-orange: #ff9900;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #aaa;
  --color-hover-beige: #f1ece4;
}